body{
    background: linear-gradient(0deg, #000 0%, #000 100%), #FFF;
    width: 1280px;
    height: 709px;

}
.container {
    width: 844px;
    height: 401px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #666;
    background: #000;
}