body {
   background-image: url('img/fundo.png');
   background-size: cover;
   background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 20rem;

}

button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#loginForm  {
  display: flex;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}


/* div de criação de conta */


.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 20px;
}

#criar  {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Efeito da caixa de formulágio */